In [56]:
import pandas as pd
import sqlite3

In [57]:
## this functionality reads every html table in a target webpage into a pandas dataframe
from pandas.io.html import read_html

In [66]:
# target url
url = 'https://www.wikipedia.org/wiki/List_of_members_of_the_Forbes_400'

In [59]:
web_data = read_html(url_2)
len(web_data)

7

In [60]:
world_billionaries = web_data[1]

In [61]:
world_billionaries

,0,1,2,3
0,#,Name,Net worth (USD),Sources of wealth
1,7000100000000000000♠1,Bill Gates,$81 billion,"Microsoft, Cascade Investments LLC"
2,7000200000000000000♠2,Warren Buffett,$67 billion,Berkshire Hathaway
3,7000300000000000000♠3,Larry Ellison,$50 billion,Oracle Corporation
4,7000400000000000000♠4,Charles Koch,$42 billion,"Koch Industries, inherited"
5,7000500000000000000♠5,David H. Koch,$42 billion,"Koch Industries, inherited"
6,7000600000000000000♠6,Christy Walton,$38 billion,"Wal-Mart, inherited"
7,7000700000000000000♠7,Jim Walton,$36 billion,"Wal-Mart, inherited"
8,7000800000000000000♠8,Michael Bloomberg,$35 billion,Bloomberg LP
9,7000900000000000000♠9,Alice Walton,$34.9 billion,"Wal-Mart, inherited"
10,7001100000000000000♠10,S. Robson Walton,$34.8 billion,"Wal-Mart, inherited"
11,7001110000000000000♠11,Mark Zuckerberg,$34 billion,Facebook
12,7001120000000000000♠12,Sheldon Adelson,$32 billion,Las Vegas Sands
13,7001130000000000000♠13,Larry Page,$31.5 billion,Google
14,7001140000000000000♠14,Sergey Brin,$31 billion,Google
15,7001150000000000000♠15,Jeff Bezos,$30.5 billion,Amazon.com
16,7001160000000000000♠16,Carl Icahn,$26 billion,Icahn Enterprises
17,7001170000000000000♠17,George Soros,$24 billion,Soros Fund Management
18,7001180000000000000♠18,Steve Ballmer,$22.5 billion,Microsoft
19,7001190000000000000♠19,"Forrest Mars, Jr.",$22 billion,"Mars, Inc., inherited"
20,7001200000000000000♠20,Jacqueline Mars,$22 billion,"Mars, Inc., inherited"
21,7001210000000000000♠21,John Mars,$22 billion,"Mars, Inc., inherited"
22,7001220000000000000♠22,Leonard Blavatnik,$21.5 billion,Access Industries
23,7001230000000000000♠23,Phil Knight,$19.9 billion,"Nike, Inc."
24,7001240000000000000♠24,Harold Hamm,$18.7 billion,Continental Resources
25,7001250000000000000♠25,Michael Dell,$17.7 billion,Dell

In [62]:
world_billionaries = world_billionaries.ix[1:]
world_billionaries.columns = ['No','Name','Net worth (USD)','Sources of wealth']
del world_billionaries['No']

In [63]:
world_billionaries

                 Name Net worth (USD)                   Sources of wealth
1          Bill Gates     $81 billion  Microsoft, Cascade Investments LLC
2      Warren Buffett     $67 billion                  Berkshire Hathaway
3       Larry Ellison     $50 billion                  Oracle Corporation
4        Charles Koch     $42 billion          Koch Industries, inherited
5       David H. Koch     $42 billion          Koch Industries, inherited
6      Christy Walton     $38 billion                 Wal-Mart, inherited
7          Jim Walton     $36 billion                 Wal-Mart, inherited
8   Michael Bloomberg     $35 billion                        Bloomberg LP
9        Alice Walton   $34.9 billion                 Wal-Mart, inherited
10   S. Robson Walton   $34.8 billion                 Wal-Mart, inherited
11    Mark Zuckerberg     $34 billion                            Facebook
12    Sheldon Adelson     $32 billion                     Las Vegas Sands
13         Larry Page   $31.5 billion                              Google
14        Sergey Brin     $31 billion                              Google
15         Jeff Bezos   $30.5 billion                          Amazon.com
16         Carl Icahn     $26 billion                   Icahn Enterprises
17       George Soros     $24 billion               Soros Fund Management
18      Steve Ballmer   $22.5 billion                           Microsoft
19  Forrest Mars, Jr.     $22 billion               Mars, Inc., inherited
20    Jacqueline Mars     $22 billion               Mars, Inc., inherited
21          John Mars     $22 billion               Mars, Inc., inherited
22  Leonard Blavatnik   $21.5 billion                   Access Industries
23        Phil Knight   $19.9 billion                          Nike, Inc.
24        Harold Hamm   $18.7 billion               Continental Resources
25       Michael Dell   $17.7 billion                                Dell

In [22]:
type(world_billionaries)

pandas.core.frame.DataFrame

In [64]:
def df2sqlite(dataframe, db_name, tbl_name ):
    
    conn=sqlite3.connect(db_name)
    cur = conn.cursor()                                 

    wildcards = ','.join(['?'] * len(dataframe.columns))              
    data = [tuple(x) for x in dataframe.values]

    cur.execute("drop table if exists %s" % tbl_name)

    col_str = '"' + '","'.join(dataframe.columns) + '"'
    cur.execute("create table %s (%s)" % (tbl_name, col_str))

    cur.executemany("insert into %s values(%s)" % (tbl_name, wildcards), data)

    conn.commit()
    conn.close()

In [65]:
## Write dataframe to sqlite dataframe
## database name = world_billionaries
## table name = top_25
df2sqlite(world_billionaries, db_name = "world_billionaries", tbl_name = "top_25")